.catalog {
    max-height:900vh; 
    background-color: #f2f2f2; 
}


.catalog-item {
    display:flex;  
    flex-wrap:wrap; 
    justify-content: center;
   
}

.catalog h2 {
    padding-top: 15px;
  
         
}

.catalog.add-btn {
    background-color:#004BFA;
}
