.catalog {
    min-height:90vh; 
    background-color: #FFFFFF; 
    font-family: 'Open Sans', sans-serif; 
    letter-spacing: .5px;
}


.catalog-item {
    display:flex;  
    flex-wrap:wrap; 
    justify-content: center;
   
}

.catalog h2 {
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif; 
    text-decoration: underline;  
    line-height: 60px; 
    letter-spacing: 1px;
    background-color:#1C1C1C ;
    color: #FFFFFF;
}

.catalog h5 {
    color: #e7174b;
}

.catalog .btn {
   margin-right: 8px;
   margin-bottom: 8px;
   color:#FFFFFF;
   background-color: #1C1C1C;
   border: #e7174b;
}

.catalog .product .qt-picker div button {
    background-color: rgb(229, 229, 229);
    color:#1C1C1C;
}
.catalog-item .product button {
    background-color: #1a5423;
    color:#FFFFFF;
} 



