.catalog {
    min-height:90vh; 
    background-color: #FFFFFF; 
    font-family: 'Open Sans', sans-serif; 
    letter-spacing: .5px;
}


.catalog-item {
    display:flex;  
    flex-wrap:wrap; 
    justify-content: center;
   
}

.catalog h2 {
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif;   
    line-height: 60px; 
    letter-spacing: 1px;
    background-color:#1C1C1C ;
    color: #f2f2f2;
    margin:0;
}

.catalog h5 {
    color: black;
    background-color: #ffffff;
    
}

.catalog .btn {
   margin-right: 8px;
   margin-bottom: 8px;
   color:#f2f2f2;
   background-color: #D92525;
   border: #D92525;
   width: 100px;
   font-weight: 600;
}

.catalog .product .qt-picker div button {
    background-color: rgb(229, 229, 229);
    color:#1C1C1C;
}
.catalog-item .product button {
    background-color: #1a5423;
    color:#f2f2f2;
}
.catalog-item .product button:hover {
    opacity: 78%;
    background-color: #1a5423;
}




